<table class="table-responsive">
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let even = even" [ngClass]="{'table-secondary': even}">
      <td>{{ product.name }}</td>
      <td>
        <button (click)="showUpdateProductForm(product._id)" class="btn btn-secondary">Update Product</button>
        <span class="mx-2"></span>
        <button (click)="deleteProduct(product._id)" class="btn btn-danger">Delete Product</button>
        <span class="mx-2"></span>
        <button (click)="showProductDetails(product._id)" class="btn btn-info">Product Details</button>
      </td>
    </tr>
  </tbody>
</table>
</table>