<table class="table-responsive">
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let even = even" [ngClass]="{'table-secondary': even}">
      <td>{{ user.name }}</td>
      <td>
        <button (click)="showUpdateUserForm(user._id)" class="btn btn-secondary">Update User</button>
        <span class="mx-2"></span>
        <button (click)="deleteUser(user._id)" class="btn btn-danger">Delete User</button>
        <span class="mx-2"></span>
        <button (click)="showUserDetails(user._id)" class="btn btn-info">User Details</button>
      </td>
    </tr>
  </tbody>
</table>
</table>